<%= render @friend %>

<div>
  <%= link_to "Back to friends", friends_path, class: "btn btn-secondary" %>
  <br/>
  <br>
  <%= button_to "Destroy this friend", @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
